:root {
  --primary-heading-color: #2a2a2a;
  --primary-text-color: #454545;
  --secondary-heading-color: #ffffff;
  --secondary-text-color: #ffffff;
  --heading-color: var(--primary-heading-color);
  --text-color: var(--primary-text-color);
}

body {
  margin: 0;
  background: gray;
  font-family: 'Livvic';
  font-size: 1.125rem;
  line-height: 1.3;
  color: var(--text-color);
}

p {
  margin-bottom: 0.3em;
  color: var(--text-color);
}

@font-face {
  font-family: 'Livvic';
  font-weight: 400;
  src: url('../fonts/Livvic/Livvic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Zilla Slab';
  font-weight: 700;
  src: url('../fonts/Zilla_Slab/ZillaSlab-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Zilla Slab';
  font-weight: 500;
  src: url('../fonts/Zilla_Slab/ZillaSlab-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Zilla Slab';
  font-weight: 600;
  src: url('../fonts/Zilla_Slab/ZillaSlab-SemiBold.ttf') format('truetype');
}
